* {

  padding:0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  text-decoration:none;
}



@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  font-family: 'Inconsolata', monospace;
}


.movie-cover{
margin:auto auto;
}


.container{
  text-align: center;
  width:80%;
  margin:auto auto;
  /* padding:3em; */
  padding:1em;

}

h2{
  padding:0.5em;
  color:black;
}


img{
  width:100%;
  vertical-align:bottom;

}


/* container */
.row{ 
  /* display:flex;
  flex-wrap:wrap; */
  /* border:1px solid red; */
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap:10px;

  
  
}

/* item */
.movies{ 
  /* flex:1;
  flex-basis:120px; */
  position:relative;
/* margin:0.5em; */
  overflow:hidden;
  /* border:1px solid green; */

}

/* @media only screen and (max-width: 600px){
  .row{
    flex-direction:column;
  }
} */







.overlay{
  transition: bottom ease 1s;
  position:absolute;
  /* background-color:#e589d3; */
  background-color:#93bbb2;
  opacity: 1;
  left:0;
  width:100%;
  opacity: 0.6;
  transition: bottom ease 1s;
  bottom: -100px; 
    /* border:1px solid black; */
  /* margin:0 10% 0 10%; */

}

.movies:hover .overlay{
 opacity: .9;
 bottom:0px;
  
}
