* {

  padding:0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}



@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  font-family: 'Inconsolata', monospace;
}


.movie-cover{
margin:auto auto;
}


.container{
  text-align: center;
  width:100%;
  margin:auto auto;
  padding:3em;
}

h2{
  padding:1em;
}


img{
  width:80%;
  vertical-align:bottom;

}


/* container */
.row{ 
  display:flex;
  /* border:1px solid red; */
  
  
}

/* item */
.movies{ 
  flex:1;
  position:relative;
margin-bottom:10px;
  overflow:hidden;
  /* border:1px solid green; */

}

@media only screen and (max-width: 600px){
  .row{
    flex-direction:column;
  }
}



.overlay{
  transition: bottom ease 1s;
  position:absolute;
  background-color:pink;
  opacity: 1;
  left:0;
  width:80%;
  opacity: 0.6;
  transition: bottom ease 1s;
  bottom: -100px; 
    /* border:1px solid black; */
  margin:0 10% 0 10%;

}

.movies:hover .overlay{
 opacity: .9;
 bottom:0px;
  
}
