/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.movie-cover{
margin:auto auto;
}


.container{
  text-align: center;
  width:100%;
  margin:auto auto;
}


img{
  width:50%;

}

.flex-items{
  display:flex;
}


.movies{
  flex:1;
  text-align:center;
}
